<div id="<%= dom_id budget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= budget.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= budget.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Income:</strong>
    <%= budget.income %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assigned:</strong>
    <%= budget.assigned %>
  </p>

</div>
