<div id="<%= dom_id budget %>" class="bg-slate-50 p-6 rounded-lg shadow-md">
  <p class="my-5">
    <%= budget.title %>
  </p>
  <div class="flex justify-end space-x-2 mt-4">
    <%= link_to 'Edit', edit_budget_path(budget), class: "btn btn-primary" %>
    <%= link_to 'Use', budget_accounts_path(budget), class: "btn btn-secondary" %>
    <%= link_to 'Destroy', budget_path(budget), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>