<%= form_with(model: category_group, data: { turbo: false }) do |form| %>
  <%= form_errors category_group %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex space-x-3 items-center justify-between">
    <%= submit_button form %>
    <%= cancel_button transactions_path %>
  </div>
<% end %>
