<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Category groups" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl dark:text-white">Category groups</h1>
    <%= link_to "New category group", new_category_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="category_groups" class="min-w-full">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead class="bg-blue-500 text-white">
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @category_groups.each do |category_group| %>
          <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
            <td class="border px-4 py-2"><%= category_group.name %></td>
            <td class="border px-4 py-2">
              <%= link_to "Show", category_group, class: "text-blue-500 hover:text-blue-800" %>
              <%= link_to "Edit", edit_category_group_path(category_group), class: "text-blue-500 hover:text-blue-800 ml-4" %>
              <%= link_to "Delete", category_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-800 ml-4" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>