<%= form_with(model: category, data: { turbo: false }) do |form| %>
  <%= form_errors category %>

  <div class="my-5">
    <%= form.label :category_group %>
    <%= form.collection_select :category_group_id,
                           CategoryGroup.all,
                           :id,
                           :name,
                           { include_blank: false },
                           class:
                             "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name,
                    class:
                      "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex space-x-3 items-center justify-between">
    <%= submit_button form %>
    <%= cancel_button categories_path %>
  </div>
<% end %>
