<%= form_with(model: transaction, data: { turbo: false }) do |form| %>
  <%= form_errors transaction %>

  <div class="my-5">
    <%= form.label :account %>
    <%= form.collection_select :account_id, Account.all, :id, :name, { include_blank: false }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :entry %>
    <%= form.date_field :entry, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.grouped_collection_select :category_id, CategoryGroup.all, :categories, :name, :id, :name, { include_blank: false }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="flex space-x-3 items-center justify-between">
    <%= submit_button form %>
    <%= cancel_button transactions_path %>
  </div>
<% end %>
