<div id="<%= dom_id transaction %>" class="grid grid-cols-6 tgrid-row">
  <div>
    <%= transaction.account.name %>
  </div>
  <div>
    <%= transaction.entry.strftime("%b %d, %Y") %>
  </div>
  <div class="text-left">
    <%= transaction.category.category_group.name %>: <%= transaction.category.name %>
  </div>
  <div class="text-left">
    <%= transaction.description %>
  </div>
  <div>
    <%= number_to_currency(transaction.amount) %>
  </div>
  <div class="tgrid-row-actions">
    <%= edit_button edit_transaction_path(transaction) %>
    <%= delete_button transaction %>
  </div>
</div>
