<div
  id="<%= dom_id transaction %>"
  class="grid grid-cols-6 border-b border-gray-300 text-center py-2"
>
  <div>
    <%= transaction.account.name %>
  </div>
  <div>
    <%= transaction.entry.strftime("%b %d, %Y") %>
  </div>
  <div>
    <%= transaction.category.category_group.name %>:
    <%= transaction.category.name %>
  </div>
  <div class="text-left">
    <%= transaction.description %>
  </div>
  <div>
    <%= number_to_currency(transaction.amount) %>
  </div>
  <div class="flex space-x-2 justify-center">
    <%= edit_button edit_transaction_path(transaction) %>
    <%= delete_button transaction %>
  </div>
</div>
