<div class="w-full p-4">
  <% content_for :title, (@selected_account.present? ? @selected_account.name : "All") + " Transactions" %>

  <div class="grid grid-cols-2 mb-4">
    <div class="text-left text-2xl font-bold pl-2 pt-2">
      <%= (@selected_account.present? ? @selected_account.name : "All") %> Transactions
    </div>
    <div class="text-right pr-2 pt-2">
      <%= new_button new_transaction_path %>
    </div>
  </div>

  <div id="transactions" class="tgrid-container">
    <div class="grid <%= @selected_account.blank? ? "grid-cols-6" : "grid-cols-5" %> tgrid-header">
      <% if @selected_account.blank? %>
      <div>
        <strong class="tgrid-header-column">Account</strong>
      </div>
      <% end %>
      <div>
        <%= sortable "entry", "Entry", "tgrid-header-column" %>
      </div>
      <div>
        <strong class="tgrid-header-column">Category</strong>
      </div>
      <div>
        <strong class="tgrid-header-column">Description</strong>
      </div>
      <div>
        <%= sortable "amount", "Amount", "tgrid-header-column" %>
      </div>
      <div>
        <strong class="tgrid-header-column">Action</strong>
      </div>
    </div>
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
    <% end %>
  </div>
  <div class="mb-5 p-4 flex justify-between">
    <div class="text-start"><%== pagy_info(@pagy) %></div>
    <div class="text-end justify-end"><%== pagy_nav(@pagy) %></div>
  </div>
</div>
