<!DOCTYPE html>
<html lang="en">
<%= render partial: "layouts/head" %>
<body class="h-screen" data-controller="dark-mode">
  <%= turbo_frame_tag "modal" %>
  <%= render partial: "shared/notifications", locals: { message: flash[:notice] } %>
  <div class="flex flex-row h-full bg-emerald-100">
    <div class="w-64 h-full flex-none p-2 bg-emerald-950 text-white">
      <%= render partial: "accounts/sidebar" %>
      <%= render partial: "shared/user_account" %>
    </div>
    <div class="grow p-2">
      <%= yield %>
    </div>
  </div>
</body>
</html>
