<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Budgie" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-600">
    <aside
      id="logo-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-10 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" 
      aria-label="Sidebar"
    >
      <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <a href="/" class="flex items-center ps-2.5 mb-5">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Budgie</span>
        </a>
        <ul class="space-y-2 font-medium">
          <%= nav_link("Dashboard", root_path, "gauge-high") %>
          <%= nav_link("Budget", root_path, "chart-pie") %>
          <%= render(AccountMenuComponent.new(current_user)) if user_signed_in? %>
          <% if !user_signed_in? %>
            <%= nav_link("Sign In", new_user_session_path, "arrow-right-to-bracket") %>
          <% else %>
            <%= nav_link("Sign Out", destroy_user_session_path, "arrow-right-from-bracket") %>
          <% end %>
        </ul>
      </div>
    </aside>

    <div class="p-4 sm:ml-64">
      <% if notice.present? %>
        <p
          class="
            py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
          "
          id="notice"
        ><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p
          class="
            py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block
          "
          id="alert"
        ><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
