<div id="<%= dom_id account %>" class="flex justify-between items-center p-1 border-b border-gray-200 dark:text-white">
  <span class="my-1 flex-1">
    <%= account.name %>
  </span>
  <span class="my-1 flex-1">
    <%= account.atype %>
  </span>
  <span class="my-1 flex-1">
    <%= number_to_currency(account.balance) %>
  </span>
  <span class="my-1 flex-1 flex dark:text-black">
    <%= link_to "Transactions", account_transactions_path(account), class: "btn-grouped btn-primary rounded-l-lg" %>
    <%= link_to "Edit", edit_account_path(account), class: "btn-grouped btn-secondary -ml-px" %>
    <%= button_to "Destroy", account, method: :delete, class: "btn-grouped btn-danger rounded-r-lg -ml-px" %>
  </span>
</div>