<div id="<%= dom_id account %>" class="grid grid-cols-4 tgrid-row">
  <div>
    <%= account.name %>
  </div>
  <div>
    <%= account.account_type.humanize %>
  </div>
  <div>
    <%= account.budget ? "Yes" : "No" %>
  </div>
  <div class="tgrid-row-actions">
    <%= edit_button edit_account_path(account) %>
    <%= delete_button account_path(account) %>
  </div>
</div>
