<%= form_with(model: account, data: { turbo: false }) do |form| %>
  <%= form_errors account %>

  <div class="mb-6">
    <%= form.label :name, class: "block mb-1" %>
    <%= form.text_field :name,
                    class:
                      "w-full rounded border border-slate-300 shadow-inner focus:ring-4 focus:ring-slate-50 text-base placeholder:text-slate-500 focus:shadow-none focus:border-slate-400" %>
  </div>

  <div class="mb-6">
    <%= form.label :account_type, class: "block mb-1" %>
    <%= form.select :account_type,
                Account.account_types.keys.map { |w| [w.humanize, w] },
                {},
                class:
                  "block shadow w-full rounded border border-slate-300 shadow-inner focus:ring-4 focus:ring-slate-50 text-base placeholder:text-slate-500 focus:shadow-none focus:border-slate-400" %>
  </div>

  <div class="flex space-x-3 items-center justify-between">
    <%= submit_button form %>
    <%= cancel_button accounts_path %>
  </div>
<% end %>
