<%= form_with(model: account, data: { turbo: false }) do |form| %>
  <%= form_errors account %>

  <div class="mb-6">
    <%= form.label :name, class: "block mb-1" %>
    <%= form.text_field :name, class: "dark:text-black w-full rounded border border-slate-300 shadow-inner focus:ring-4 focus:ring-slate-50 text-base placeholder:text-slate-500 dark:placeholder:text-black focus:shadow-none focus:border-slate-400" %>
  </div>

  <div class="mb-6">
    <%= form.label :account_type, class: "block mb-1" %>
    <%= form.select :account_type,
                Account.account_types.keys.map { |w| [w.humanize, w] },
                {},
                class: "dark:text-black block shadow w-full rounded border border-slate-300 shadow-inner focus:ring-4 focus:ring-slate-50 text-base placeholder:text-slate-500 focus:shadow-none focus:border-slate-400" %>
  </div>

  <div class="mb-6">
    <label class="relative inline-flex items-center cursor-pointer">
      <%= form.check_box :budget, { class: "sr-only peer" }, checked_value = "1", unchecked_value = "0"  %>
      <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
      <span class="ml-2 dark:text-white">Include in Budget?</span>
    </label>
  </div>

  <div class="flex space-x-3 items-center justify-between">
    <%= submit_button form %>
    <%= cancel_button accounts_path %>
  </div>
<% end %>
